<?xml version="1.0"?>
<ruleset name="MksDdn Reddy Auth">
	<description>WordPress Coding Standards for plugin trunk.</description>

	<file>mksddn-reddy-auth/trunk</file>

	<exclude-pattern>*/vendor/*</exclude-pattern>
	<exclude-pattern>*/node_modules/*</exclude-pattern>

	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
	</rule>

	<config name="minimum_supported_wp_version" value="6.2"/>
	<config name="testVersion" value="7.4-"/>
</ruleset>
